<h1>New Treatment </h1>

<%= form_for @treatment do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>
<%= f.label :description %>
<%= f.text_field :description %><br>
<%= f.label :price %>
<%= f.number_field :price %><br>
<%= f.label :time %>
<%= f.number_field :time %><br>
<%= f.submit %>
<% end %>
