<div class="columns is-mobile" style="max-width: 500px;">
  <div class="column">
    <h1 class="title is-1">Log in</h1>
    <%= form_for :session, url: login_path do |f| %>
      <div class="field">
        <%= f.label :email, class:"label" %>
        <%= f.email_field :email, class:"input" %>
      </div>  
      <div class="field">
      <%= f.label :password, class:"label" %>
      <%= f.password_field :password, class:"input" %><br>
      <br>
      <%= f.submit "Log in", class:"button is-primary is-outlined"  %>
    <% end %><br>   
    <br>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>    