<div class="columns is-mobile" style="max-width: 500px;">
  <div class="column">
    <h1 class="title is-1">Edit Salon</h1>
    <%= form_for @salon do |f| %>

    <div class="field">
      <%= f.label :name, class:"label" %>
      <%= f.text_field :name, class:"input" %>
    </div>  
    <div class="field">
      <%= f.label :opening_hours, class:"label" %>
      <%= f.text_field :opening_hours, class:"input" %>
    </div>
    <div class="field">
      <%= f.label :address, class:"label" %>
      <%= f.text_area :address, class:"textarea" %>
    </div>
    <div class="field">
      <%= f.label :location, class:"label" %>
      <div class="select">
        <%= f.collection_select :location_id, Location.all, :id, :name %>
      </div>  
    </div>  
    <%= f.submit "Update Salon", class:"button is-primary is-outlined" %>
    <% end %><br>
    <%= link_to "Delete", salon_path(@salon), :data => {:confirm => "Are you sure?", :method => "delete"}, class:"button is-danger  is-outlined" %>
  </div>
</div>    

