<div class="columns is-mobile" style="max-width: 500px;">
  <div class="column">
    <h1 class="title is-1">Edit Stylist</h1>
    <%= form_for @stylist do |f| %>
      <div class="field">
        <%= f.label :name, class:"label" %>
        <%= f.text_field :name, class:"input" %>
      </div>  
      <div class="field">
        <%= f.label :job_title, class:"label" %>
        <%= f.text_field :job_title, class:"input" %>
      </div>
      <div class="field">
        <%= f.label :salon, class:"label" %>
        <div class="select">
          <%= f.collection_select :salon_id, Salon.all, :id, :name %>
        </div>  
      </div>  
      <div>
          <%= f.label "Select treatments", class:"label" %>
          <%= f.collection_check_boxes :treatment_ids, Treatment.all, :id, :name do |b| %>
            <%= b.check_box %>
            <%= b.label class:"checkbox" %><br>
          <% end %><br>
      </div>
      <div class="field">
        <%= f.label "Or add a new treatment", class:"label" %>
        <%= f.fields_for :treatments, @stylist.treatments.build do |treatments_fields| %>
          <div class="field">
            <%= f.label :name, class:"label" %>
            <%= treatments_fields.text_field :name, class:"input" %>
          </div>  
          <div class="field">
            <%= f.label :description, class:"label" %>
            <%= treatments_fields.text_field :description, class:"input" %>
          </div>
          <div class="field">
            <%= f.label :price, class:"label" %>
            <%= treatments_fields.number_field :price, class:"input" %>
          </div>
          <div class="field">
            <%= f.label :time, class:"label" %>
            <%= treatments_fields.number_field :time, class:"input" %>
          </div>
        <% end %>
      </div>
      <div> 
        <%= f.submit "Update Stylist", class:"button is-primary is-outlined" %>
      </div>
    <% end %>
    <br>
    
    <div>
      <%= link_to "Delete", stylist_path(@stylist), :data => {:confirm => "Are you sure?", :method => "delete"}, class:"button is-danger is-outlined" %>
    </div>  
  </div>
</div>    


