<div class="columns is-mobile" style="max-width: 100px;">
  <div class="column">
    <%= form_for @appointment do |f| %>
      <div class="field">
        <%= f.label "You are booking in with #{@stylist.name.capitalize}", class:"label" %>
        <%= f.hidden_field :stylist_id, :value => params[:stylist_id] %>
      </div>
        <%= f.hidden_field :user_id, :value => params[:user_id] %>
      <div class="field">
        <%= f.label :treatment_id, class:"label" %>
        <div class="select">
          <%= f.collection_select :treatment_id, @treatments.each, :id, :name %>
        </div>  
      </div>  

      <div class="field">
        <%= f.label :date, class:"label" %>  
        <%= f.date_field :date, class:"input" %>
      </div>
      <div class="field">
        <%= f.label :time, class:"label" %>  
        <%= f.time_field :time, class:"input" %>
      </div>

        <%= f.submit "Create appointment", class:"button is-primary is-outlined" %>
    <% end %>
  </div>
</div>    

