<div class="columns is-mobile" style="max-width: 100px;">
  <div class="column">
    <%= form_for @appointment do |f| %>
      <div class="field">
        <%= f.label :stylist_id, class:"label" %>
        <div class="select">
          <%= f.collection_select :stylist_id, Stylist.all, :id, :name, selected: params[:stylist_id] %>
        </div>
      </div>
      <div class="field">
        <%= f.label :user_id, class:"label" %>  
        <%= f.text_field :user_id, value:params[:user_id], class:"input" %>
      </div>
      <div class="field">
        <%= f.label :date, class:"label" %>  
        <%= f.date_field :date, class:"input" %>
      </div>
      <div class="field">
        <%= f.label :time, class:"label" %>  
        <%= f.time_field :time, class:"input" %>
      </div>

        <%= f.submit "Create appointment", class:"button is-primary is-outlined" %>
    <% end %>
  </div>
</div>    

