<!DOCTYPE html>
<html>
  <head>
    <title>SalonApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "all salons", salons_path %>
    <%= link_to "new salon", new_salon_path %>
    <%= link_to "all stylists", stylists_path %>
    <%= link_to "new stylist", new_stylist_path %>
    <%= link_to "all treatments", treatments_path %>
    <%= link_to "new treatment", new_treatment_path %>
    <% if flash[:errors] %>
      <div>
        <% flash[:errors].each do |error| %>
          <p><%= error %>
        <% end %>
      </div>  
    <% end %>  
    <%= yield %>
  </body>
</html>
