<!DOCTYPE html>
<html>
  <head>
    <title>SalonApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css" />
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="<%= salons_path %>">
          <img src="/images/logo_image.png" alt="Cartoon hair brush" width="55px">
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Salon
          </a>

          <div class="navbar-dropdown">
            <%= link_to "all salons", salons_path, class:"navbar-item" %>
            <%= link_to "new salon", new_salon_path, class:"navbar-item" %>
          </div>
        </div> 

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Stylist
          </a>

          <div class="navbar-dropdown">
            <%= link_to "all stylists", stylists_path, class:"navbar-item" %>
            <%= link_to "new stylist", new_stylist_path, class:"navbar-item" %>
          </div>
        </div>    

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Treatment
          </a>

          <div class="navbar-dropdown">
            <%= link_to "all treatments", treatments_path, class:"navbar-item" %>
            <%= link_to "new treatment", new_treatment_path, class:"navbar-item" %>
          </div>
        </div>
        
        <% if logged_in? == true %>
          <%= link_to "logout", logout_path, method: :delete, class:"navbar-item" %>
          <%= link_to "my account", user_path(@user), class:"navbar-item" %>
        <% else %>
          <%= link_to "new user", signup_path, class:"navbar-item" %>
          <%= link_to "login", login_path, class:"navbar-item" %>
        <% end %>  
      </div>
    </nav>
    
    <div class="container" style="padding: 10px;">
      
      <% if flash[:errors] %>
        <div style="margin-bottom: 10px;">
          <% flash[:errors].each do |error| %>
            <div class="notification is-danger" style="padding: 7px; margin-bottom: 5px;">
              <%= error %>
            </div>
          <% end %>
        </div>  
      <% end %>  

      <%= yield %>

    </div>
  </body>
</html>
